input{
    border-radius: 5px !important;
    background: none;
    outline: none !important;
    border: none !important;
}
.success{
    border-bottom: 3px solid greenyellow !important;
}

.error{
    border-bottom: 3px solid rgb(238, 64, 64) !important;
}