@import '../../../styles/sass/variables.scss';

/* ============================== Content Main Style ============================== */
.edit {
    border-right: 2px solid $green2;
    padding-right: 3rem;
  }
  .edit__label {
    font-size: 1.7rem;
    font-weight: bold;
    margin: 1rem 0;
    color: $dark2;
  }
  .edit__input {
    width: 100%;
    border: none;
    border: 1px solid $green2;
    border-radius: 0.5rem;
    font-size: 1.4rem;
    padding: 0.5rem 1rem;
    color: $dark3;

    &::placeholder{
      color: $dark1;
      font-size: 1.7rem;
    }
  }
  .edit__help {
    display: block;
    color: $green3;
    font-style: italic;
    font-weight: bold;
    margin: 1rem 0;
    font-size: 1.5rem;
  }
  .edit__password {
    margin-top: 2rem;
  }
  .edit__password-title {
    border-bottom: 2px solid $green2;
    display: block;
  } 
  /* ============================== Content Main Style ============================== */
  