@import './variables.scss';

@font-face {
    font-family: lale;
    src: url(../../assets/fonts/lale.ttf);
}    
@font-face {
    font-family: nazanin;
    src: url(../../assets/fonts/nazanin.ttf);
}    
@font-face {
    font-family: vazir;
    src: url(../../assets/fonts/Vazir.ttf);
}
@font-face {
    font-family: sam1;
    src: url(../../assets/fonts/sam1.ttf);
}
@font-face {
    font-family: sam2;
    src: url(../../assets/fonts/sam2.ttf);
}
@font-face {
    font-family: iranSansNumber;
    src: url(../../assets/fonts/IRANSansNumFa.ttf);
}

/* Start Default Styles */

html {
    box-sizing: border-box;
    font-size: 62.5%;
  }
  
  body {
    line-height: 1.6;
    font-size: 1.6rem;
    font-family: vazir;
    direction: rtl;
  }
  
  *,
  *::after,
  *::before {
    outline: none;
    box-sizing: inherit;
  }
  
  a {
    text-decoration: none;
    color: $white1;
    transition: all 400ms ease;
  }
  
  a:hover {
    color: #1e83f0;
  }
  
  i {
    user-select: none;
  }
  
  /* Finish Default Styles */
  
