@import './variables.scss';
/* Start Helper Classes */

.title {
    font-size: 2.3rem;
    color: $dark2 ;
    font-weight: bold;
    line-height: 1.2;
    position: relative;
    
  }
  
  .title::before {
    content: "";
    position: absolute;
    right: -1rem;
    width: 0.4rem;
    height: 4.4rem;
    background-color: $green2;
    border-radius: 5rem;
    transform: rotate(8deg);
  }
  
  .title::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    /* max-width: 250px; */
    height: 60%;
    background-color: rgba(12, 255, 77, 0.196);
  }

  .btn--3{
    // width: 1rem;
    padding: .5rem 2rem; 
    border-bottom: 2px solid;
    border-image-slice: 1;
    border-width: 1px;
    border-image-source: radial-gradient(circle, rgba(33,237,0,1) 13%, rgba(0,128,255,1) 100%);
    color: $green1;
    background: none;
    transition: all .3s ease-in;
    cursor: pointer;

    &:hover{
      color: $dark1;
      background: $green1;

    }

  }
  /* Finish Helper Classes */