$green1 :#6eff41;
$green2 :#2bce56;
$green3 :#1a8035;
$blue1:#5484c4;
$blue2:rgb(4, 6, 172);
$blue3:#0a2257;
$blue4:#060733;
$blue5:#13202c;

$white1 :#fff;
$dark1 :#464749;
$dark2:rgb(156, 155, 155);
$dark3:rgb(221, 219, 219);
