$green1 :#6eff41;
$green2 :#2bce56;
$green3 :#1a8035;
$blue1:rgb(84, 132, 196);
$blue2:rgb(4, 6, 172);
$blue3:rgb(10, 34, 87);
$blue4:#060733;

$white1 :#fff;
$dark1 :#464749;
$dark2:rgb(156, 155, 155);
$dark3:rgb(221, 219, 219);
