@import '../../../styles/sass/variables.scss'; 
  /* ============================== Content Main Style ============================== */
  .courses {
    border-right: 2px solid $green2;
    padding-right: 3rem;

  }
  .courses-header__title {
    font-size: 2rem;
    font-weight: bold;
    
}
.courses-header__list {
    display: flex;
  }
.courses-header__item {
    margin: 1rem 0 1rem 3.5rem;
}
.courses-header__link {
    font-size: 1.5rem;
    color: $green3;
    border-bottom: 1px solid $blue1;
    padding: 2px;
  }
  .courses-header__link-active {
    color: $green1;
    font-weight: bold;
  }
  .main1{
    border: none !important;
  }
  .main__box {
    display: flex;
    margin: 2rem 0;
    border: 2px solid $green2;
    border-radius: 0.5rem;
    overflow: hidden;
  }
  .main__box-right {
    width: 30%;
  }
  .main__box-img {
    height: 100%;
  }
  .main__box-left {
    padding-right: 2rem;
  }
  .main__box-title {
    display: block;
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: 1rem;
    color: $dark2;
  }
  .main__box-bottom {
    display: flex;
    margin-top: 0.5rem;
  }
  .main__box-all {
    margin-left: 3rem;
  }
  .main__box-all-text {
    font-weight: bold;
    color: $dark2;
  }
  .main__box-all-value {
    font-weight: bold;
    color: $green1;
  }
  
  .main__box-completed {
    margin-left: 3rem;
    color: red;
  }
  .main__box-completed-text {
    font-weight: bold;
    color: $dark2;
  }
  .main__box-completed-value{
    margin-right: 10px;
    color: $green1;
  }
  
  /* ============================== Content Main Style ============================== */
  
 