@import '../../styles/sass/variables.scss';

/* Start Course Info Styles */

.main{
    margin-top: 2rem;
}
.course-info-1{
    align-items: center;
    border-bottom: 2px solid;
    border-image-slice: 1;
    border-width: 1px;
    border-image-source: radial-gradient(circle, rgba(33,237,0,1) 13%, rgba(0,128,255,1) 100%);
}

.course-info-1__link {
    font-size: 1.2rem;
    color: $green1;
    border-radius: 0.3rem;
    padding: 0.4rem 1rem;
    background-color: rgba(43, 206, 86, 0.2);
}

.course-info-1__title {
    margin: 2rem 0;
    font-weight: bold;
    font-size: 2.4rem;
    color: $dark3;
}

.course-info-1__text {
    margin-bottom: 3rem;
    font-size: 1.5rem;
    color: $dark2;
    // line-height: rem;
}
.course-info-1__social-media{
    margin-bottom: 20px;
}

.course-info-1__social-media-item {
    color: $green1;
    margin-left: 1.7rem;
    transition: all 400ms ease;
    
    &:hover{
        color: $green3;
    }
}

.course-info-1__icon {
    font-size: 2rem;
}

.course-info-1__cover {
    width: 100%;
    border-radius: 1rem;
    border-bottom: 2px solid;
    // border-width: 50px;
    border-image-slice: 1;
    border-width: 1px;
    border-image-source: radial-gradient(circle, rgba(33,237,0,1) 13%, rgba(0,128,255,1) 100%);
}

/* Finish Course Info Styles */
/* Start Introduction styles */

.introduction {
    padding: 3rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 13px 1px rgba(70, 72, 77, 0.08);
}

.introduction__topic {
    margin-top: 4rem;
}


.accordion {
    margin-bottom: 2rem;
}


.accordion-item {
    background-color: $blue3;
}

.accordion-button {
    background-color: $blue4;
    font-size: 1.5rem;
    padding: 1.25rem;
    color: $green1;
}

.accordion-button:not(.collapsed) {
    background-color: $blue4;
    
}

.accordion-button::after {
    position: absolute;
    left: 1.5rem;
    width: 2rem;
    height: 2rem;
    background-position: center;
    background-color: $green1;
    border-radius: 50px;
}

.introduction__accordion-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1.25rem;
}

.introduction__accordion-right {
    display: flex;
    align-items: center;
}

.introduction__accordion-count {
    
    color: $white1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        right: 1.5rem;
        width: 0.2rem;
        height: 2.4rem;
        background-color: $green2;
        border-radius: 5rem;
        transform: rotate(8deg);
      }
}

.introduction__accordion-icon {
    margin: 0 1.5rem;
    color: $dark2;
    font-size: 1.8rem;
}

.introduction__accordion-link {
    font-family: 'vazir';
    color: $white1;
    margin-right: 15px;
    font-weight:100 !important;
}
.introduction__accordion-left{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .lock-icon-session{
        margin-left: 5px;
        font-size: 15px;
        color: $green2;
    }
}
.introduction__accordion-time {
    color:$white1;
    margin-top: 5px;
}

/* Finish Introduction styles */

/* Start Teacher Details Styles */

.techer-details {
    border-radius: 0.5rem;
    padding: 2rem;
    margin-top: 2rem;
    box-shadow: 0 0 13px 1px rgba(70, 72, 77, 0.08);
}

.techer-details__header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.techer-details__header-right {
    display: flex;
    align-items: center;
}

.techer-details__header-img {
    width: 62px;
    height: auto;
    border-radius: 50%;
    box-shadow: 2px 2px 20px #00000021;
}

.techer-details__header-titles {
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
}

.techer-details__header-link {
    text-decoration: none;
    color:$dark2;
}

.techer-details__header-skill {
    color:$dark2;
    font-size: 1.2rem;
}

.techer-details__header-left {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.techer-details__header-icon {
    // font-size: 1.8rem;
    color: $white1;
    margin-left: 10px;
}

.techer-details__header-name {
    font-size: 1.6rem;
    font-weight: bold;
    margin-right: 0.4rem;
}

.techer-details__footer {
    margin-top: 1rem;
    color: $white1;
    font-size: 14px;
}

/* Finish Teacher Details Styles */

/* Start Sidebar Styles */

.course-info__register {
    text-align: center;
    border-radius: 0.5rem;
}

.course-info__register-title {
    font-size: 1.7rem;
    font-family: 'vazir';
    width:100%;
    padding: 1.5rem 4rem;
    color: $white1 !important;
    box-shadow: 0 2px 12px rgba(31, 189, 80, 36%);
}

.course-info__register-icon {
    font-size: 2rem;
    margin-left: 10px;
}

.course-info__top {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    border-bottom: 2px solid;
    border-image-slice: 1;
    border-width: 1px;
    border-image-source: radial-gradient(circle, rgba(33,237,0,1) 13%, rgba(0,128,255,1) 100%);
}
.course-info__total{
    padding: 1rem;
    background: $blue4;
    border-radius: 10px;
}
.course-info__total-sale-icon {
    color: $dark2;
    font-size: 2rem;
    margin-left: 7px;
}

.course-info__total-sale-text {
    color: $dark2;
}

.course-info__total-sale-number {
    color: $dark2;
    margin-right: 7px;
  
}

.course-info__bottom {
    display: flex;
    justify-content: space-evenly;
    padding-top: 2rem;
    color: $dark2;
}

.course-info__total-comment, .course-info__total-view {
    position: relative;
    display: flex;
    align-items: center;
}

.course-info__total-comment::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 1px;
    background-color: $blue1;
    left: -3rem;
}

.course-info__total-comment-icon, .course-info__total-view-icon {
    font-size: 2.2rem;
}

.course-info__total-comment-text, .course-info__total-view-text {
    font-size: 1.4rem;
    margin-right: 1rem;
}

.courses-info {
    position: sticky;
    top: 2rem;
}

.course-info {
    border-radius: 0.5rem;
    margin-top: 1rem;
    padding: 2.2rem;
    box-shadow: 0 0 13px 1px rgba(70, 72, 77, 0.08);
    
}

.course-info__courses-title {
    font-size: 1.8rem;
    display: block;
    color: $dark2;
    margin-bottom: 1.5rem;
}

.course-info__courses-list-item {
    margin-bottom: 2rem;
}

.course-info__courses-link {
    display: flex;
    align-items: center;
}

.course-info__courses-img {
    width: 90px;
    border-radius: 0.5rem;
}

.course-info__courses-text {
    font-size: 1.3rem;
    margin-right: 0.5rem;
    color: $dark2;
}

/* Finish Sidebar Styles */