@import '../../styles/sass/variables.scss';

/* Start Top-Bar Styles */

.top-bar {
    color: $white1;
    padding: .5rem 0;
    border-bottom: 2px solid;
    border-image-slice: 1;
    border-width: 1px;
    border-image-source: radial-gradient(circle, rgba(33,237,0,1) 13%, rgba(0,128,255,1) 100%);
  }
  
  .top-bar__content {
    display: flex;
    justify-content: space-between;
    padding: 0 1.5rem;
  }
  
  .top-bar__right {
    display: flex;
  }
  
  .top-bar__menu {
    display: flex;
  }
  
  .top-bar__link {
    color: $white1;
    transition: all 400ms ease;
    font-size: 1.5rem;
    padding: 0 1rem;
  }
  
  .top-bar__left {
    display: flex;
  }
  
  .top-bar__email,
  .top-bar__phone {
    display: flex;
    align-items: center;
  }
  
  .top-bar__email-text, 
  .top-bar__phone-text {
    padding: 0 0.8rem;
  }
  
  .top-bar__email-icon,
  .top-bar__phone-icon {
    color: $green1;
    font-size: 2rem;
  }

  .header__socials{
    display: flex;
    flex-direction: row;
    align-items: center;
    
    gap: 2rem;
    
    .icon{
        font-size: 2rem;
        &:hover{
          color: $green2;
        }
    }
  }
  .swal2-popup{
    background: #000000;
    width:100px !important;

  }

  .swal-wide{

    .swal2-html-container{
      font-size: 25px !important;
      color: $green1;
    }

    h2{
        font-size: 30px !important;
        color: $green2;
    }
  }
  /* Finish Top-Bar Styles */

  /////////////////////////////
   .btn--1{
  width: max-content;
  display: inline-block;
  color: $green1;
  padding: 0.4rem 1rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid $green1;
  transition:all .5s ease-in;
  font-size: 1rem;
  letter-spacing: 5px;
  
  &:hover{
    color: black;
    background: $white1;
    border-color: transparent;
  }
}