.td1{
    color: aliceblue;
}

.swal-wide{
    width:50% !important;

    h2{
        font-size: 22px !important;
    }
    label{
        font-size: 18px !important;
    }
    input{
        font-size: 20px;
        color: rgb(3, 82, 31);
    }
    button{
        width: 100px !important;
        font-size: 14px !important;
    }

    .swal2-validation-message{
        font-size: 15px;
    }
}