@import '../../styles/sass/variables.scss';

.article {
    padding: 2.4rem;
    border-radius: 0.5rem;
    box-shadow: 0 5px 30px rgba(70, 72, 77, 0.08);
}

.article__title {
    font-size: 2.6rem;
    font-weight: bold;
    color: $dark2;
    border-bottom: 2px solid;
    border-image-slice: 1;
    border-width: 1px;
    border-image-source: radial-gradient(circle, rgba(33,237,0,1) 13%, rgba(0,128,255,1) 100%);
    padding-bottom: 1rem;
}

.article__header {
    display: flex;
    align-items: center;
    padding-top: 1rem;
}

.article-header__item {
    display: flex;
    align-items: center;
    margin-left: 2rem;
}

.article-header__icon {
    font-size: 1.7rem;
    color: $blue1;
    margin-left: .5rem;
}

.article-header__text {
    font-size: 1.2rem;
    color: $dark2;
}

.article__banner {
    // max-width: 700px;
    // height: 400px;
    margin-top: 4rem;
    // margin: 0 auto !important;
    text-align: center;
}
.article-desc{
    color: $dark2;
}

.article-section {
    margin: 5rem 0;
}

.article-section h2 {
    margin-top: 2rem;
    font-size: 2.4rem;
    color: $green3;
    font-weight: bold;
    line-height: 1.2;
}
.article-section h3 {
    margin-top: 2rem;
    font-size: 2.4rem;
    color: $green3;
    font-weight: bold;
    line-height: 1.2;
}

.article-section p{
    margin: 2rem 0;
    font-size: 1.5rem;
    line-height: 3rem;
    font-family: 'vazir';
    color: $blue1;
}
.article-section ol li{
    // margin: 2rem 0;
    font-size: 1.4rem;
    line-height: 3rem;
    font-family: 'vazir';
    color: $blue1;
}
.article-section ul li{
    // margin: 2rem 0;
    font-size: 1.4rem;
    line-height: 3rem;
    font-family: 'vazir';
    color: $blue1;
}

.article-section img {
    display: block;
    width: 450px !important;
    // height: 450px;
    margin: 0 auto;
}

.article-social-media {
    display: flex;
    align-items: center;
}

.article-social-media__text {
    font-size: 1.5rem;
    color:$green3;
}

.article-social-media__link {
    display: flex;
    align-items: center;
    margin: 0.5rem;
    color:$green3;
    }

/* Finish Article Details Styles */

/* Start Helper Classes */

.paragraph {
    font-size: 1.5rem;
    line-height: 3rem;
    color: #7d7e7f;
}

/* Finish Helper Classes */