@import '../../styles/sass/variables.scss';

.footer{
  margin-top: 2rem;
}
/* ============================== Footer Style ============================== */
.footer-widgets {
  background-color: $blue3;
  border-radius: 1rem;
  padding: 4rem 3.5rem;
  margin-bottom: 5rem;
  position: relative;
}
.footer-widgets::before {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  width: 50rem;
  height: 4rem;
  background-color: $green1;
  border-radius: 5rem;
  bottom: -1.5rem;
  z-index: -1;
}
.footer-widgets__title {
  display: block;
  font-size: 1.7rem;
  font-weight: bold;
  margin-bottom: 2rem;
  position: relative;
  color: $white1;
}
.footer-widgets__title::before {
  content: "";
  position: absolute;
  width: 3.5rem;
  height: 3.5rem;
  background-color: $green1;
  border-radius: 0.7rem;
  opacity: 0.3;
  transform: rotate(45deg);
  right: 1rem;
}
.footer-widgets__text {
  color: $dark3;
  margin-top: 20px;
}
.footer-widgets__links {
  display: flex;
  flex-direction: column;
}
.footer-widgets__link {
  color: $dark3;
  display: block;
  margin-bottom: 1rem;

  &:hover{
    color: $green2;
  }
}
.footer-widgets__form{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
.footer-widgets__input{
  height: 3.5rem;
  border-radius: 0 .1rem .1rem 0;
  font-size: 1.3rem;
  width: 250px;
  color: $white1;
  &::placeholder{
    color: $white1;
  }
}
.footer-widgets__btn{
  border: none;
  background-color: none;
  color: $white1;
  font-size: 1.2rem;
  height: 3.5rem;
  padding: 0 1rem;
  // width: 300px;
  transition: 300ms all ease;
}
.footer-widgets__btn:hover {
  background-color: $green1;
}
.footer__copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $blue3;
  padding: 3rem 0;
}
.footer__copyright-text {
  color: $dark2;
}
.copy_span{
  color: $green1;
}
.aboute_1{
  margin: 0 auto; 
  // text-align: center;
  // width: 800px;
}
.footer_bot{
  margin-top: 30px;
}
/* ============================== Footer Style ============================== */