@import '../../../styles/sass/variables.scss';

#sidebar {
    background-color: #17203f;
    height:100vh; 
    position:fixed !important;
  }
  #sidebar .sidebar-header {
    border-bottom: 2px solid;
    border-image-slice: 1;
    border-width: 1px;
    border-image-source: radial-gradient(circle, rgba(33,237,0,1) 13%, rgba(0,128,255,1) 100%);   
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  #sidebar .sidebar-header .sidebar-logo {
    padding: 15px 25px;
  }
  #sidebar .sidebar-header .sidebar-logo img {
    width: 70px;
  }
  #sidebar .sidebar-menu {
    margin-top: 30px !important;
     li{
      position: relative;
      padding-top:10px !important ;
      &:hover{
        background: linear-gradient(90deg, #353c50 0%, rgba(0, 212, 255, 0) 100%);
        background: -webkit-gradient( linear, left top, right top, from(#353c50), to(rgba(0, 212, 255, 0)));
      }
      a{
        margin-top: 2px;
        display: inline-block;
        color: $dark3 !important;
        padding-right: 20px; 
        width: 100% !important;
        &:hover{
           color: $green1 !important ;
         }
        &.active{
           color: $green1 !important;            
           &::before{
             content: "";
             position: absolute;
             top: 0;
             left: 2PX;
             background-color: $green1;
             width: 2px;
             height: 100%;
           }
         }
      }

     
    }
  }


  .logout-li{
    .logout-wrapper{
      display: flex;
      align-items: center;
      
      
      span{
        color: #ff002f;
      }
  
      .logout-icon{
        color: #ff002f;
        margin-right: 10px;
        font-size: 25px !important;
        
      }
    }
    &:hover{
      span{
        color: #fff;
      }
      .logout-icon{
        color: #fff;
      }
    }

  }