 /* ============================== Content Sidebar Style ============================== */
 .content-main {
    margin: 3rem 0;
  }
  
  .sidebar__name {
    color: rgb(27, 2, 2);
    font-size: 1.7rem;
  }
  .sidebar__list {
    margin-top: 0.7rem;
  }
  .sidebar__link {
    color: rgb(2, 80, 27);
    display: block;
    padding: 1rem 0;
    font-weight: bold;
    font-size: 1.4rem;
  }
  /* ============================== Content Sidebar Style ============================== */