@import '../../styles/sass/variables.scss';

.section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
  }
  
  .section-header__right {
    display: flex;
    flex-direction: column;

    .section-header__title{
      color: $green1;
    }
  }
  
  .section-header__text {
    color: $dark2;
    font-size: 1.5rem;
  }
  
  .section-header__link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white1;
    background-color: $green1;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
  }
  
  .section-header__link:hover {
    color: $white1;
  }
  
  .section-header__icon {
    margin-right: 0.5rem;
    font-size: 1.5rem;
  }

  .sec_1{
    color: $white1;
    &:hover{
      color: $white1;
    }
  }