@import '../../styles/sass/variables.scss';


.landing {
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    padding: 6rem 0;
    color: $white1;
  }
  
  .landing__title {
    font-size: 3.4rem;
    font-weight: bold;
  }
  
  .landing__subtitle {
    font-size: 1.8rem;
    margin-top: 0.3rem;
  }
  
  .landing__searchbar {
    width: 700px;
    position: relative;
    margin: 3.5rem auto;
    border-bottom: 1px solid;
    border-image-slice: 1;
    border-width: 1px;
    border-image-source: radial-gradient(circle, rgba(33,237,0,1) 13%, rgba(0,128,255,1) 100%);
  }
  
  .landing__searchbar-input {
    width: 100%;
    padding: 2rem;
    background:none;
    border: none;
   color:$green2;
   font-size: 15px;
   &::placeholder{
    color: $dark2;
   }
  }
  
  .landing__searchbar-btn {
    border: none;
    background: none;
    position: absolute;
    left: 1rem;
    width: 6rem;
    top: 0.7rem;
    height: 6rem;
    border-radius: 1rem;
  }
  
  .landing__searchbar-icon {
    font-size: 2rem;
    color: $blue1;
  }
  
  .landing-status {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .landing-status__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .landing-status__item svg {

    fill: $white1;
  }
  
  .landing-status__count {
    font-weight: bold;
    font-size: 2rem;
    margin-top: .5rem;
    color: $green2  ;
  }
  
  .landing-status__text {
    font-weight: bold;
    color: $white1;
  }